$white: #ffffff;
$background: $white;

@font-face {
  font-family: "Lobster-Regular";
  src: url("~Assets/fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("~Assets/fonts/OpenSans-VariableFont.ttf");
}
