footer {
  background: red;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.socials {
  li {
    padding-bottom: 5px;
  }

  img {
    vertical-align: middle;
    height: 1.1rem;
    width: 1.1rem;
  }

  span {
    padding-left: 5px;
    text-transform: capitalize;
  }
}
